@tailwind base;
@tailwind components;
@tailwind utilities;

.btn404,
.btn404:active,
.btn404:hover,
.btn404:focus {
	margin-top: 5rem;
	font-family: 'Space Mono', monospace;
	color: #fff;
	background-color: #333333;
	border: none;
	outline: none;
	padding: 2rem 4rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;
}

:where(.css-dev-only-do-not-override-1st6zyb).ant-select-single:not(
		.ant-select-customize-input
	)
	.ant-select-selector {
	@apply !tw-px-0 tw-text-base;
}

span.ant-select-selection-item {
	@apply !tw-text-base !tw-pl-4 tw-text-[#77797F];
}

.header-main .main-menu ul {
	@apply tw-hidden lg:tw-block;
}
