@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
	* {
		-webkit-font-smoothing: antialiased;
		@apply scrollbar-hide;
	}
}

*::-webkit-scrollbar {
	width: 0px;
}
*::-webkit-scrollbar-button {
	background: #ccc;
}
*::-webkit-scrollbar-track-piece {
	background: #888;
}

:where(.css-dev-only-do-not-override-1basvn9).ant-float-btn
	.ant-float-btn-body
	.ant-float-btn-content
	.ant-float-btn-icon {
	width: 100% !important;
}
